# 1

DATABASE
In computing, a database is an organized collection of data stored and accessed electronically

SQL databases are vertically scalable, while NoSQL databases are horizontally scalable. SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores. SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON

# 2

In the context of SQL, data definition or data description language is a syntax for creating and modifying database objects such as tables, indices, and users

CREATE: This command is used to create the database or its objects (like table, index, function, views, store procedure, and triggers).

DROP: This command is used to delete objects from the database.

ALTER: This is used to alter the structure of the database.

TRUNCATE: This is used to remove all records from a table, including all spaces allocated for the records are removed.

In [37]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE if not exists test_database.student_table(user_id VARCHAR(10),test_id VARCHAR(10))")
mycursor.execute("select * from test_database.test_table")
for i in mycursor.fetchall():
    print(i)
mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f039edea430>

In [40]:

CREATE TABLE Customer(
    CustomerID INT PRIMARY KEY,
    CustomerName VARCHAR(50),
    LastName VARCHAR(50),
    Country VARCHAR(50),
    Age int(2),
  Phone int(10)
);

SyntaxError: invalid syntax (960465533.py, line 1)

In [ ]:
-- Active: 1685683654944@@127.0.0.1@3306@test_database
DROP TABLE Customer;

In [ ]:
-- Active: 1685683654944@@127.0.0.1@3306@test_database
ALTER TABLE student_table
ADD Email varchar(255);

In [ ]:
TRUNCATE TABLE test_table;

# 3

Data manipulation language (DML) statements access and manipulate data in existing tables.

INSERT: It is used to insert data into a table.

UPDATE: It is used to update existing data within a table.

DELETE: It is used to delete records from a database table.

In [ ]:
INSERT INTO test_table VALUES('test_id_1','st_id_1')

In [ ]:

CREATE TABLE Customer(
    CustomerID INT PRIMARY KEY,
    CustomerName VARCHAR(50),
    LastName VARCHAR(50),
    Country VARCHAR(50),
    Age int(2),
  Phone int(10)
);

INSERT INTO Customer (CustomerID, CustomerName, LastName, Country, Age, Phone)
VALUES (1, 'Shubham', 'Thakur', 'India','23','123'),
       (2, 'Aman ', 'Chopra', 'Australia','21','123'),
       (3, 'Naveen', 'Tulasi', 'Sri lanka','24','123'),
       (4, 'Aditya', 'Arpan', 'Austria','21','123'),
       (5, 'Nishant. Salchichas S.A.', 'Jain', 'Spain','22','123'); 


SELECT * FROM Customer;

SELECT * FROM `Customer`

In [ ]:
UPDATE Customer SET CustomerName  
= 'Nitin' WHERE Age = 22;

In [ ]:
UPDATE Customer SET CustomerName = 'Satyam', 
Country = 'USA' WHERE CustomerID = 1;

In [ ]:
DELETE FROM `Customer` 
WHERE `CustomerID`=1;


SELECT * FROM `Customer`

# 4

DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it.

In [ ]:
SELECT * FROM `Customer`;

# 5

A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence.

A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.

# 6

In [43]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE if not exists test_database.student_table(user_id VARCHAR(10),test_id VARCHAR(10))")
mycursor.execute("select * from test_database.test_table")
for i in mycursor.fetchall():
    print(i)
mydb.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f039edea370>
('test_id_1', 'st_id_1')
('test_id_1', 'st_id_1')

A cursor holds the rows (one or more) returned by a SQL statement. The set of rows the cursor holds is referred to as the active set. You can name a cursor so that it could be referred to in a program to fetch and process the rows returned by the SQL statement, one at a time

execute()  method:  To execute a query, call an execute method from Statement

# 7

Order of Execution
SQL queries adhere to a specific order when evaluating clauses, similar to how mathematical operations adhere to PEMDAS or BIDMAS.

From the eyes of the user, queries begin from the first clause and end at the last clause. However, queries arenâ€™t actually read from top to bottom when carried out.

The order in which the clauses in queries are executed is as follows:

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that donâ€™t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.